# Số liệu các cuộc gọi phàn nàn về tiếng ồn tại thành phố New York từ 31/12/2015 đến 1/1/2017

Created_Date: Thời điểm xuất hiện cuộc gọi.  
Closed_Date: Thời điểm cảnh sát giải quyết xong vụ việc.  
Location_Type: Kiểu địa điểm của nơi bị tố cáo (vd quán bar, cửa hàng, nhà dân, v.v.)  
Incident_Zip: Mã bưu chính.  
Neighborhood: Khu vực.  
Borough: Quận.  
Latitude: Vĩ độ.  
Longitude: Kinh độ.

Đọc data từ https://raw.githubusercontent.com/vb-ym/MIS_Hutech/master/Data/party_in_nyc.csv  
Lưu ý xử lý giá trị nan.

In [1]:
import pandas as pd

#data = pd.read_csv('https://raw.githubusercontent.com/vb-ym/MIS_Hutech/master/Data/party_in_nyc.csv')
data = pd.read_csv('../Data/party_in_nyc.csv')

In [2]:
data = data.dropna()
data

,Created_Date,Closed_Date,Location_Type,Incident_Zip,Neighborhood,Borough,Latitude,Longitude
0,2015-12-31 00:01:15,2015-12-31 03:48:04,Store/Commercial,10034.0,NEW YORK,MANHATTAN,40.866183,-73.918930
1,2015-12-31 00:02:48,2015-12-31 04:36:13,Store/Commercial,10040.0,NEW YORK,MANHATTAN,40.859324,-73.931237
2,2015-12-31 00:03:25,2015-12-31 00:40:15,Residential Building/House,10026.0,NEW YORK,MANHATTAN,40.799415,-73.953371
3,2015-12-31 00:03:26,2015-12-31 01:53:38,Residential Building/House,11231.0,BROOKLYN,BROOKLYN,40.678285,-73.994668
4,2015-12-31 00:05:10,2015-12-31 03:49:10,Residential Building/House,10033.0,NEW YORK,MANHATTAN,40.850304,-73.938516
...,...,...,...,...,...,...,...,...
225409,2016-12-31 23:53:57,2017-01-01 00:01:41,Store/Commercial,10003.0,NEW YORK,MANHATTAN,40.730073,-73.986585
225410,2016-12-31 23:55:01,2017-01-01 02:05:06,Residential Building/House,10032.0,NEW YORK,MANHATTAN,40.833144,-73.944617
225411,2016-12-31 23:56:20,2017-01-01 13:34:00,Residential Building/House,11104.0,SUNNYSIDE,QUEENS,40.743662,-73.923067
225412,2016-12-31 23:56:41,2017-01-01 03:49:12,Residential Building/House,10040.0,NEW YORK,MANHATTAN,40.858447,-73.929279
225413,2016-12-31 23:58:52,2017-01-01 00:59:52,Residential Building/House,10463.0,BRONX,BRONX,40.877450,-73.910498

In [3]:
data.dtypes

Created_Date      object
Closed_Date       object
Location_Type     object
Incident_Zip     float64
Neighborhood      object
Borough           object
Latitude         float64
Longitude        float64
dtype: object

Câu 1: Thành phố New York có bao nhiêu quận (Borough)? Quận Queens có bao nhiêu khu (Neighborhood)?

In [4]:
data.Borough.nunique()

5

In [5]:
data[data.Borough == 'QUEENS'].Neighborhood.nunique()

44

Câu 2: Chuyển đổi các cột thời gian về dạng datetime. Ngày nào là ngày có nhiều cuộc gọi nhất?

In [6]:
data = data.assign(Created_Date = pd.to_datetime(data.Created_Date))
data = data.assign(Closed_Date = pd.to_datetime(data.Closed_Date))

In [7]:
data.dtypes

Created_Date     datetime64[ns]
Closed_Date      datetime64[ns]
Location_Type            object
Incident_Zip            float64
Neighborhood             object
Borough                  object
Latitude                float64
Longitude               float64
dtype: object

In [8]:
num_calls = data.groupby(data.Created_Date.dt.date).count().Created_Date
num_calls.sort_values(ascending=False)#.head(1)

Created_Date
2016-06-19    2528
2016-07-03    2321
2016-09-04    2311
2016-05-29    2160
2016-06-18    2106
              ...
2016-02-23     178
2016-01-13     164
2016-01-19     162
2016-02-09     160
2016-02-11     141
Name: Created_Date, Length: 367, dtype: int64

Câu 3: Tính số lượng cuộc gọi ở mỗi quận. Quận nào là quận có nhiều cuộc gọi nhất?

In [9]:
data.groupby('Borough').count().Created_Date.sort_values(ascending=False)#.head(1)

Borough
BROOKLYN         68757
MANHATTAN        63883
BRONX            47595
QUEENS           38224
STATEN ISLAND     5402
Name: Created_Date, dtype: int64

Câu 4: Liệt kê các mã bưu chính (Incident_Zip) trong data. Mã buu chính nào có nhiều cuộc gọi nhất? Lưu ý đổi data về dạng phù hợp (int).

In [10]:
data = data.assign(Incident_Zip = data.Incident_Zip.astype(int))
data.Incident_Zip.unique()

array([10034, 10040, 10026, 11231, 10033, 10467, 11230, 11215, 10463,
       11372, 11213, 11375, 10027, 10468, 11417, 11233, 11217, 11355,
       11234, 10452, 10025, 11103, 10458, 10021, 11238, 10065, 10019,
       10036, 10028, 10460, 10473, 11102, 11368, 10472, 11209, 10456,
       11435, 11691, 10455, 10453, 10024, 10009, 10011, 10032, 10016,
       10459, 11237, 11221, 11385, 10001, 10469, 10451, 11433, 10461,
       11207, 10031, 11208, 10314, 10002, 10039, 10457, 11226, 11210,
       10471, 11232, 11249, 10465, 10030, 10301, 11218, 10029, 10012,
       11415, 11360, 11214, 11365, 11225, 11224, 11236, 11206, 10014,
       11201, 10454, 10306, 11212, 10005, 10466, 11203, 10462, 11223,
       11421, 11420, 11369, 11205, 10035, 11101, 11370, 10310, 11228,
       10303, 11216, 10470, 10022, 11427, 11104, 11211, 11412, 11377,
       10304, 10302, 11414, 11367, 10017, 11366, 11105, 10003, 11694,
       10308, 11363, 11692, 11416, 11373, 11419, 11229, 11361, 11222,
       10007, 11379, 10128, 11219, 11364, 11356, 11432, 11378, 11106,
       11235, 11358, 10474, 11374, 11418, 10013, 11220, 11436, 11354,
       10023, 11423, 10305, 10018, 11434, 11413, 11428, 10037, 10307,
       10309, 11411, 10038, 11204, 10464, 11362, 11693, 10010, 11004,
       11357, 11429, 10075, 10312, 10069, 11426, 10282, 10044, 10103,
       10475, 10280, 10020, 10006, 11422, 11239, 10000, 11040, 10004,
          83, 11109, 11430, 10281, 11001, 10041, 11697, 10121, 10118,
       10177, 10119, 10120, 11242, 10278])

In [11]:
data.groupby('Incident_Zip').count().Created_Date.sort_values(ascending=False)#.head(1)

Incident_Zip
10040    5042
10031    4908
10456    4688
11226    4433
10034    4408
         ...
10041       1
10177       1
10120       1
10103       1
11697       1
Name: Created_Date, Length: 194, dtype: int64

Câu 5: Tạo một cột mới mang tên "Reaction_Time", có nghĩa là thời gian phản ứng của cảnh sát (từ lúc có cuộc gọi đến lúc vụ việc được giải quyết).  
Thời gian phản ứng trung bình của cảnh sát trong cả bộ dữ liệu là bao lâu?  
Truy xuất thông tin cuộc gọi nhận được phản ứng nhanh nhất.

In [12]:
data = data.assign(Reaction_Time = data.Closed_Date - data.Created_Date)
data

,Created_Date,Closed_Date,Location_Type,Incident_Zip,Neighborhood,Borough,Latitude,Longitude,Reaction_Time
0,2015-12-31 00:01:15,2015-12-31 03:48:04,Store/Commercial,10034,NEW YORK,MANHATTAN,40.866183,-73.918930,03:46:49
1,2015-12-31 00:02:48,2015-12-31 04:36:13,Store/Commercial,10040,NEW YORK,MANHATTAN,40.859324,-73.931237,04:33:25
2,2015-12-31 00:03:25,2015-12-31 00:40:15,Residential Building/House,10026,NEW YORK,MANHATTAN,40.799415,-73.953371,00:36:50
3,2015-12-31 00:03:26,2015-12-31 01:53:38,Residential Building/House,11231,BROOKLYN,BROOKLYN,40.678285,-73.994668,01:50:12
4,2015-12-31 00:05:10,2015-12-31 03:49:10,Residential Building/House,10033,NEW YORK,MANHATTAN,40.850304,-73.938516,03:44:00
...,...,...,...,...,...,...,...,...,...
225409,2016-12-31 23:53:57,2017-01-01 00:01:41,Store/Commercial,10003,NEW YORK,MANHATTAN,40.730073,-73.986585,00:07:44
225410,2016-12-31 23:55:01,2017-01-01 02:05:06,Residential Building/House,10032,NEW YORK,MANHATTAN,40.833144,-73.944617,02:10:05
225411,2016-12-31 23:56:20,2017-01-01 13:34:00,Residential Building/House,11104,SUNNYSIDE,QUEENS,40.743662,-73.923067,13:37:40
225412,2016-12-31 23:56:41,2017-01-01 03:49:12,Residential Building/House,10040,NEW YORK,MANHATTAN,40.858447,-73.929279,03:52:31
225413,2016-12-31 23:58:52,2017-01-01 00:59:52,Residential Building/House,10463,BRONX,BRONX,40.877450,-73.910498,01:01:00

In [13]:
data.Reaction_Time.mean()

Timedelta('0 days 04:59:05.044527')

In [14]:
data[data.Reaction_Time == data.Reaction_Time.min()]

,Created_Date,Closed_Date,Location_Type,Incident_Zip,Neighborhood,Borough,Latitude,Longitude,Reaction_Time
28022,2016-03-11 23:26:11,2016-03-11 23:28:35,Residential Building/House,11215,BROOKLYN,BROOKLYN,40.673126,-73.982238,00:02:24

Câu 6: Có bao nhiêu kiểu địa điểm (location type) trong dữ liệu? Kiểu địa điểm nào xuất hiện ít nhất trong các cuộc gọi?

In [15]:
data.Location_Type.nunique()

6

In [16]:
data.groupby('Location_Type').count().Created_Date.sort_values()#.head(1)

Location_Type
House of Worship                 598
Park/Playground                 2957
Club/Bar/Restaurant            15722
Store/Commercial               17508
Street/Sidewalk                41726
Residential Building/House    145350
Name: Created_Date, dtype: int64

Câu 7: Tính thời gian phản ứng trung bình của cảnh sát cho mỗi kiểu địa điểm.

Kiểu địa điểm nào thường nhận được phản ứng nhanh nhất từ cảnh sát?

In [17]:
# Cách 1: Thêm cột dữ liệu chuyển timedelta sang numeric
data2 = data.assign(Numeric_RTime = pd.to_numeric(data.Reaction_Time))
pd.to_timedelta(data2.groupby('Location_Type').Numeric_RTime.mean()).sort_values()#.head(1)

Location_Type
Store/Commercial             03:43:35.211217
Club/Bar/Restaurant          03:44:58.610482
House of Worship             03:50:19.167224
Residential Building/House   05:00:53.608957
Park/Playground              05:06:49.890767
Street/Sidewalk              05:52:49.126443
Name: Numeric_RTime, dtype: timedelta64[ns]

In [18]:
# Cách 2: Tính theo từng kiểu địa điểm
locations = data.Location_Type.unique()
locations

array(['Store/Commercial', 'Residential Building/House',
       'Club/Bar/Restaurant', 'Street/Sidewalk', 'Park/Playground',
       'House of Worship'], dtype=object)

In [19]:
loctimes = {'loc':[], 'time':[]}
for loc in locations:
    loctime = data[data.Location_Type==loc].Reaction_Time.mean()
    #print(loc, ':', loctime)
    loctimes['loc'].append(loc)
    loctimes['time'].append(loctime)
loctimes_df = pd.DataFrame(loctimes)
loctimes_df

                          loc            time
0            Store/Commercial 03:43:35.211217
1  Residential Building/House 05:00:53.608957
2         Club/Bar/Restaurant 03:44:58.610482
3             Street/Sidewalk 05:52:49.126443
4             Park/Playground 05:06:49.890767
5            House of Worship 03:50:19.167224

In [20]:
loctimes_df[loctimes_df.time == loctimes_df.time.min()]

                loc            time
0  Store/Commercial 03:43:35.211217

Câu 8: Quận nào có nhiều cuộc gọi đến từ kiểu địa điểm "Residential Building/House" nhất?  
Đếm số cuộc gọi của các kiểu địa điểm ở quận đó (vd 1000 cuộc gọi từ Residential Building/House, 1200 từ Store/Commercial).

In [21]:
data[data.Location_Type=='Residential Building/House'].groupby('Borough').count().Created_Date.sort_values(ascending=False)#.head(1)

Borough
BROOKLYN         44581
BRONX            35828
MANHATTAN        31793
QUEENS           28922
STATEN ISLAND     4226
Name: Created_Date, dtype: int64

In [22]:
data[data.Borough=='BROOKLYN'].groupby('Location_Type').count().Created_Date

Location_Type
Club/Bar/Restaurant            5175
House of Worship                290
Park/Playground                1038
Residential Building/House    44581
Store/Commercial               6463
Street/Sidewalk               11210
Name: Created_Date, dtype: int64